.menu
  .container
    ul.list
      li: a(href='#') О компании
      li: a(href='#') Автомобили
      li: a(href='#') Услуги
      li: a(href='#') Контакты
      li.wrap-btn
        a(href='#').btn.red.btn-small
          i.icon-equalizer
          |&nbsp;
          |Подобрать авто
          |&nbsp;
          |&nbsp;
